@model Microsoft.Azure.Blast.Web.Models.NewPoolModel
@{
    ViewBag.Title = "New Pool";
}

<p>&nbsp;</p>

<ol class="breadcrumb">
    <li><a href="/pools">Pools</a></li>
    <li class="active">New Pool</li>
</ol>

<form class="form-horizontal" role="form" enctype="multipart/form-data">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Pool Parameters</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-sm-2" for="poolId">Pool Id</label>
                <div class="col-sm-10">
                    <input id="poolId" type="text" class="form-control" placeholder="Pool id..." aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="poolName">Pool Name</label>
                <div class="col-sm-10">
                    <input id="poolName" type="text" class="form-control" placeholder="Pool name..." aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="vmSizeBtn">VM Size</label>
                <div class="col-sm-10">
                    <div class="dropdown">
                        <button id="vmSizeBtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            @Model.VirtualMachineSizes.FirstOrDefault()
                            <span class="caret"></span>
                        </button>
                        <ul id="vmSizeList" class="dropdown-menu" aria-labelledby="vmSizeBtn">
                            @foreach (var virtualMachineSize in Model.VirtualMachineSizes)
                            {
                                <li><a href="javascript:void(0)">@virtualMachineSize</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="vmCount">VM Count</label>
                <div class="col-sm-10">
                    <input id="vmCount" type="text" class="form-control" placeholder="Number of virtual machines..." aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-0 col-sm-10">
            <button id="btnCreatePool" type="submit" class="btn btn-success">Create Pool</button>
        </div>
    </div>
</form>

<p>&nbsp;</p>

@section scripts
{
    <script>
        $(function () {

            $('#vmSizeList').on('click', 'li a', function () {
                $("#vmSizeBtn").html($(this).text() + ' <span class="caret"></span>');
            });

            $("form").submit(function (e) {
                // stop the form from posting
                e.preventDefault();
            });

            // intercept button click and post the form data to the API
            $("#btnCreatePool").click(function () {

                $('#btnCreatePool').addClass("disabled");

                var id = $('#poolId').val().trim();
                var name = $('#poolName').val().trim();
                var count = $('#vmCount').val().trim();
                var vmSize = $('#vmSizeBtn').text().trim();
                var osFamily = '4';
                var maxTasksPerVM = 16;

                var poolSpec = {
                    id: id,
                    displayName: name,
                    virtualMachineSize: vmSize,
                    osFamily: osFamily,
                    targetDedicated: count,
                    maxTasksPerComputeNode: maxTasksPerVM
                };

                var request = JSON.stringify(poolSpec);

                $.ajax({
                    type: 'POST',
                    url: '/api/pools',
                    contentType: false,
                    processData: false,
                    contentType: "application/json",
                    data: request,
                    success: function (response) {
                        window.location.href = "/pools";
                    },
                    error: function (data) {
                        $('#btnCreatePool').removeClass("disabled");
                        console.log(data);
                    }
                });
            });

            function progressHandlingFunction(e) {
                if (e.lengthComputable) {
                    $('progress').attr({ value: e.loaded, max: e.total });
                }
            }
        });
    </script>

}
