@{
    ViewBag.Title = "Azure BLAST+";
}

<div class="jumbotron">
    <h1>Azure BLAST+ Portal</h1>
    <h2>Basic Local Alignment Search Tool</h2>
    <p class="lead">Search for alignments in nucleotide or protein databases using NCBI BLAST+ &nbsp;<a href="http://blast.ncbi.nlm.nih.gov/Blast.cgi" class="btn btn-primary btn-sm" target="_blank">Learn more &raquo;</a></p>
    <br/>
    <p>
        Start a search now...&nbsp;
        <a href="/Searches/New" class="btn btn-success btn-sm" role="button">Search &raquo;</a>
    </p>
</div>

