<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BatchAccount" value=""/>
    <add key="BatchKey" value=""/>
    <add key="BatchUrl" value=""/>

    <add key="AuthorityUri" value="https://login.microsoftonline.com/{}"/>
    <add key="BatchResourceUri" value="https://batch.core.windows.net/"/>
    <add key="ApplicationId" value=""/>
    <add key="RedirectUri" value=""/>

    <add key="RestrictToPublicIp" value="false"/>
    <add key="MyPublicIp" value=""/>
    <add key="PublicPortRange" value="20000:20099"/>
    <add key="VRayServerPort" value="20204"/>

    <!-- VNets/Subnets are mutually exclusive with Public Endpoints above -->
    <!-- If VNet is set, public endpoints will not be created -->
    <add key="SubnetResourceId" value=""/>

    <add key="VirtualMachineCount" value="3"/>
    <add key="UseLowPriority" value="false"/>
    <add key="VirtualMachineSize" value="Standard_F8"/>

    <add key="ImagePublisher" value="batch"/>
    <add key="ImageOffer" value="rendering-windows2016"/>
    <add key="ImageSku" value="rendering"/>
    <add key="ImageVersion" value="latest"/>
    <add key="NodeAgentSku" value="batch.node.windows amd64"/>

    <add key="BackburnerCabUrl" value=""/>
    <add key="BackburnerMsiUrl" value=""/>

    <add key="VRayDRConfigPath" value="Autodesk\3dsMax\2018 - 64bit\ENU\en-US\plugcfg"/>

    <add key="VRayDRConfig" value="restart_slaves 0
list_in_scene 0
max_servers 0
use_local_machine 0
transfer_missing_assets 1
use_cached_assets 0
cache_limit_type 2
cache_limit 100.000000
"/>
    <add key="VRayRTDRConfig" value="autostart_local_slave 0
"/>

  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
