<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BatchAccount" value=""/>
    <add key="BatchKey" value=""/>
    <add key="BatchUrl" value=""/>

    <add key="RestrictToPublicIp" value="false"/>
    <add key="MyPublicIp" value=""/>
    <add key="PublicPortRange" value="20000:20099"/>

    <add key="VirtualMachineCount" value="2"/>
    <add key="UseLowPriority" value="false"/>
    <add key="VirtualMachineSize" value="Standard_F16"/>
    
    <add key="ImagePublisher" value="batch"/>
    <add key="ImageOffer" value="rendering-windows2016"/>
    <add key="ImageSku" value="rendering"/>
    <add key="ImageVersion" value="latest"/>
    <add key="NodeAgentSku" value="batch.node.windows amd64"/>

    <add key="VRaySetupCommand" value="cmd.exe /c C:\Autodesk\MayaIO2017\vray\bin\vray.exe -server -portNumber=20207"/>
    <add key="VRayDRConfigPath" value="Autodesk\3dsMax\2018 - 64bit\ENU\en-US\plugcfg"/>
    
    <add key="VRayDRConfig" value="restart_slaves 0
list_in_scene 0
max_servers 0
use_local_machine 0
transfer_missing_assets 0
use_cached_assets 1
cache_limit_type 2
cache_limit 100.000000
"/>
    <add key="VRayRTDRConfig" value="autostart_local_slave 0
"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>